<div class="modal-backdrop" [class.closing]="isClosing" (click)="onBackdropClick($event)">
  <div class="modal-content" [class.closing]="isClosing" (click)="onModalContentClick($event)">
    <div class="modal-header" [class.warning]="isWarning">
      <ng-content select="[modal-header]">
        <h2>{{ modalTitle }}</h2>
      </ng-content>

      <button class="close-btn" (click)="handleCancel()">✕</button>
    </div>
    <div class="modal-body" [class.fit-to-content]="fitToContent">
      <div class="content-container" [class.loading]="isLoading">
        <div class="actual-content" [class.hidden]="isLoading">
          <ng-content></ng-content>
        </div>
        @if (isLoading) {
        <div class="loading-overlay">
          <app-loading-spinner id="loading-spinner"></app-loading-spinner>
        </div>
        }
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-actions">
        <button class="cancel-btn btn" [class.warning]="isWarning" (click)="handleCancel()">
          {{ cancelText }}
        </button>
        <button
          class="confirm-btn btn"
          [class.warning]="isWarning"
          (click)="handleConfirm()"
          [disabled]="confirmDisabled"
        >
          {{ confirmText }}
        </button>
      </div>
    </div>
  </div>
</div>
