<button 
  class="remove-all-toasts" 
  [class.show]="toasts.length > 1"
  (click)="removeAllToasts()">
  Remove all toasts
</button>

<div class="toast-container">
  @for (toast of toasts; track toast._?.id) {
    <div
      [id]="toast._?.id"
      [class]="getToastClasses(toast)"
      (click)="removeToast(toast._?.id!)"
      (mouseenter)="onToastHover(true)"
      (mouseleave)="onToastHover(false)"
    >
      @if (toast.icon) {
        <mat-icon fontSet="material-icons-round" class="toast-icon">{{ getToastIcon(toast.type) }}</mat-icon>
      }
      <span class="klabel-huge">{{ toast._?.displayText }}</span>
      <span class="klabel-huge full-text">{{ toast.text }}</span>
    </div>
  }
</div>
