/* SCSS Variables for toast theming */
$success-color: #bbec88;
$success-outline: #3a6a09;
$success-dark-bg: #21261c;
$success-dark-color: #3a6a09;

$info-color: #64f0fc;
$info-outline: #005965;
$info-dark-bg: #1b2425;
$info-dark-color: #005965;

$warn-color: #ffd75c;
$warn-outline: #c2731c;
$warn-dark-bg: #2e271e;
$warn-dark-color: #c2731c;

$error-color: #ff9d6f;
$error-outline: #af2f0d;
$error-dark-bg: #2d201c;
$error-dark-color: #af2f0d;

/* Main toast component */
.toast-container {
  position: absolute;
  pointer-events: none;
  z-index: 9000;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.toast-container-inner {
  // pointer-events: none;
  position: relative;
  height: 100%;
  width: 100%;
}

.toast {
  /* Positioning and layout */
  position: absolute;
  z-index: 9999;
  display: none;

  /* Sizing and spacing */
  max-width: 322px;
  padding: 16px;
  gap: 8px;

  /* Visual styling */
  background-color: $success-color;
  border-radius: 4px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);

  /* Typography and alignment */
  text-align: left;

  /* Flexbox layout */
  display: flex;
  flex-direction: row;
  align-items: center;

  /* Interactive */
  cursor: pointer;

  /* Span elements */
  span {
    max-width: 220px;

    &.full-text {
      display: none;
    }
  }

  /* Size variants */
  &.dense {
    padding: 8px 16px;
  }

  &.tall {
    padding: 28px 16px;
  }

  &.outline {
    background: white !important;
  }

  /* Type variants */
  &.success {
    background: $success-color;

    &.outline {
      border: 1px solid $success-outline;
      color: $success-outline;
    }

    &.dark {
      border: none;
      background: $success-dark-bg;
      color: $success-dark-color;
    }
  }

  &.info {
    background: $info-color;

    &.outline {
      border: 1px solid $info-outline;
      color: $info-outline;
    }

    &.dark {
      border: none;
      background: $info-dark-bg;
      color: $info-dark-color;
    }
  }

  &.warn {
    background: $warn-color;

    &.outline {
      border: 1px solid $warn-outline;
      color: $warn-outline;
    }

    &.dark {
      border: none;
      background: $warn-dark-bg;
      color: $warn-dark-color;
    }
  }

  &.error {
    background: $error-color;

    &.outline {
      border: 1px solid $error-outline;
      color: $error-outline;
    }

    &.dark {
      border: none;
      background: $error-dark-bg;
      color: $error-dark-color;
    }
  }

  /* Hover interactions */
  &:hover {
    .close {
      color: #005965;
    }

    span {
      display: none;

      &.full-text {
        display: block;
      }
    }
  }
}

.remove-all-toasts {
  position: fixed;
  bottom: 10px;
  z-index: 9999;
  background: none;
  border: none;
  color: #005965;
  cursor: pointer;

  border: 1px solid #005965;
  border-radius: 4px;
  padding: 4px 8px;

  transition: all 0.15s ease;

  &:hover {
    background: #005965;
    color: white;
  }
}
